<h1>2015 ACM Officers</h1>

<p class="lead">Read below for a description of the people who make WashU ACM what it is today.  <%= link_to "Previous Officers", officers_index_path %></p>

<h2>Elected Officers</h2>

<ul class="thumbnails">
	
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/alice.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Alice Wang</h3>
				<p class="lead">Co-President</p>
				<p></p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/aarthi.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Aarthi Arunachalam</h3>
				<p class="lead">Co-President</p>
				<p> Aarthi is excited to lead ACM this semester with Alice! She plans to bring you fun events and strengthen the sense of community within ACM.
(I don't know if we're doing these in 3rd person or first person, if first person, just change stuff to "I am" etc.)</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/roger.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Roger Iyengar</h3>
				<p class="lead">Treasurer</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/david.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>David Ayeke</h3>
				<p class="lead">Technology Director</p>
				<p>I am very proud to be the Technology Director here at WashU ACM. It is my job to maintain the website and make sure all the ACM computers and equipment function properly. ACM has always been about teaching effective computer science practices, and I want to make sure we uphold and demonstrate the very skills we promote.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/jordan.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Jordan Mecom</h3>
				<p class="lead">Industry Liaison</p>
				<p>As Industry Liaison, my primary goal is to develop strong relationships between ACM and companies that computer science majors would be interesting in working for. ACM is focused on serving the WashU computer science student body, and professional development and industry exposure is an important part of that. </p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/timothy.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Timothy Young</h3>
				<p class="lead">Historian</p>
				<p>Hi, I'm Tim.  As Historian, I strive to ensure ACM is constantly improving and is easily accessible to the general student body.  I'm very interested to see if anyone will actually read this text.  My hobbies include coding, Chinese Yoyo, playing with cute puppies, and down-airing people in Super Smash Brothers. </p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/lawrence.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Lawrence Fung</h3>
				<p class="lead">Publicity Director</p>
				
			</div>
		</div>
	</li>
</ul>

<h2>Appointed Positions</h2>

<ul class="thumbnails">
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/tao.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Dr. Tao Ju</h3>
				<p class="lead">Faculty Advisor</p>
				<p>Hi! I am the faculty adviser of ACM. I am proud to be working with this awesome team of ACM officers. Let me know if you have any feedback, suggestions, or ideas.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/patrick.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Patrick Chao</h3>
				<p class="lead">ACM Lounge Director</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/nj.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Nj Fu</h3>
				<p class="lead">Webmaster</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/shane.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Shane Carr</h3>
				<p class="lead">Outgoing President</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/jared.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Jared Mayron</h3>
				<p class="lead">Outgoing President's Outgoing President</p>
			</div>
		</div>
	</li>

</ul>

<h2>Event Managers</h2>

<ul class="thumbnails">
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/joseph.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Joseph Kwon</h3>
				<p class="lead">Events Manager</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/joey.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Joey Woodson</h3>
				<p class="lead">Events Manager</p>
				<p>The Ø string</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/elliott.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Elliott Battle</h3>
				<p class="lead">Officer</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/moniqua.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Moniqua Guo</h3>
				<p class="lead">Officer</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/isaias.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Isaias Suarez</h3>
				<p class="lead">Officer</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/john.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>John Xiahou</h3>
				<p class="lead">Officer</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2015/korigan.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Korigan Stone</h3>
				<p class="lead">Officer</p>
				<p>Im an officer.</p>
			</div>
		</div>
	</li>
</ul>