<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.number_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :personal_bio %><br>
    <%= f.text_area :personal_bio %>
  </div>
  <div class="field">
    <%= hidden_field_tag "user[technology_ids][]", nil %>
    <% Technology.all.each do |technology| %>
      <%= check_box_tag "user[technology_ids][]", technology.id, @user.technology_ids.include?(technology.id) %>
      <%= technology.name %><br/>
      <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

 
