<%- model_class = User -%>

<h1>
  <%= @user.full_name %>
  <small><%= @user.email %></small>
</h1>

<p class="lead">
  <%= @user.personal_bio %>
</p>

<% if @user == current_user %>
<p>
  Tip: To edit your personal bio (shown above), click <%= link_to "Settings", edit_user_path(@user) %>.
</p>
<% end %>

<% if @user.is_admin? %>
<p>
  This user is an administrator of the ACM web site.
</p>
<% end %>

<% if @user == current_user or current_user.is_admin? %>
<div class="form-actions">

  <% if current_user.is_admin? %>
  <%= link_to "Toggle Admin", toggle_admin_user_path(@user), :class => "btn", :method => "put" %>
  <% end %>

  <%= link_to "Settings", edit_user_path(@user), :class => "btn" %>
  <%= link_to "Sign Out", signout_path, class: "btn" %>
</div>
<% end %>
