<table class="table submissions">
	<thead>
		<tr>
			<th>Name</th>
			<th>Submitted by</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>

		<% acm_projects.each do |acm_project| %>
		<tr>
			<td><%= acm_project.name %></td>
			<td><%= acm_project.owner.full_name %></td>
			<td>
				<%= link_to 'Details', acm_project, :class => 'btn' %>
				<%= link_to 'Approve', approve_acm_project_path(acm_project), :class => 'btn' %>
				<%= link_to 'Edit', edit_acm_project_path(acm_project), :class => 'btn' %>
				<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
					acm_project,
					:method => 'delete',
					:data => { :confirm => 'Are you sure you want to permanently delete this entry?  There is now way of recovering it.' },
					:class => 'btn btn-danger'
				%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>