<h1>ACM Showcase</h1>
<p> Welcome to the ACM showcase. Here is where members of the ACM community can submit and
showoff their work right here on the official ACM website. Simply login, submit a description
of your work, and wait for it to be processed. </p>
<div class = 'text-center'>
  <%= link_to 'Submit Entry', new_acm_project_path, :class => 'btn btn-primary' %><br/><br/>
</div>



<% if @acm_projects != nil %>
  <% @acm_projects.each do |acm_project| %>
  <div class = "project-holder">
      <div class = "acm-project-header">
      <br/>
      <%= image_tag acm_project.image_url.to_s, class: "img-polaroid acm-project-image-header" %>
      <h3><%= acm_project.name %></h3>
      <span class = "text-muted">Submitted by <%= full_name(acm_project.owner_id) %></span>
      </div>
      <div class = "project-description">
	  <%= truncate(acm_project.description, length: 200) %>
	  <%= link_to "Read more", acm_project %>
      </div>
  </div>
  
  <br/>
  
  <% end %>
<% end %>

