<%- model_class = AcmProject -%>

<h2><%= @acm_project.name %></h2>

<div class="acm-project-floating-image">
	<%= image_tag showcase_image_url(@acm_project), class: "img-polaroid" %>
</div>

<div class="acm-project-description">
<%= markdown(@acm_project.description) %>
</div>

<!-- Deciding where to send users upon selection of 'back' buttton based on where they came from -->
<% if !request.referer.nil? && URI(request.referer).path == submissions_acm_projects_path %>
  <%= link_to 'Back', submissions_acm_projects_path %>
<% else  %>
  <%= link_to 'Back', acm_projects_path %>
<%end %>
