<h1>2014 ACM Officers</h1>

<p class="lead">Read below for a description of the people who make WashU ACM what it is today.</p>

<ul class="thumbnails">
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/shane.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Shane Carr</h3>
				<p class="lead">President</p>
				<p>WashU ACM has a tradition of promoting a strong community with entirely student-run events in WashU Computer Science and Engineering.  As President, I want to continue this tradition and leave a legacy by helping WashU ACM develop strong patterns of innovation and programming for the student body.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/alice.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Alice Wang</h3>
				<p class="lead">Treasurer</p>
				<p>As the Treasurer and graphics designer of ACM, I hope to reach out to more students through increased fund raising and better PR.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/aarthi.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Aarthi Arunachalam</h3>
				<p class="lead">Publicity, VP</p>
				<p>Hi! I'm Aarthi, the VP and Publicity Director of ACM. I like hanging out with my friends, going on adventures, and playing with kittens! I also think it's awesome meeting new people and collaborating with other student groups, so if you have any fun ideas for ACM do with you or our group, let me know and we can make it happen!</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/brandon.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Brandon Meeks</h3>
				<p class="lead">Technology Director</p>
				<p>I am very proud to be the Technology Director here at WashU ACM. It is my job to maintain the website and make sure all the ACM computers and equipment function properly. ACM has always been about teaching effective computer science practices, and I want to make sure we uphold and demonstrate the very skills we promote.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/roger.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Roger Iyengar</h3>
				<p class="lead">Activities</p>
				<p>Events are a huge part of the ACM. As Events Coordinator, my goal is to ensure that all events are both fun and educational for as many members as possible. I plan to maximize the benefit of attending ACM events by making sure they are run well. I will also put effort into scheduling and getting the word out about our events, so that attendance will be as high as possible.</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<%= image_tag "officers/2014/jordan.jpg", class: "img-rounded" %>
			<div class="caption">
				<h3>Jordan Mecom</h3>
				<p class="lead">Liaison</p>
				<p>As Industry Liaison, my primary goal is to develop strong relationships between ACM and companies that computer science majors would be interesting in working for. ACM is focused on serving the WashU computer science student body, and professional development and industry exposure is an important part of that. </p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<div class="caption">
				<h3>Mark Dally</h3>
				<p class="lead">Historian</p>
			</div>
		</div>
	</li>
	<li class="span3">
		<div class="thumbnail">
			<div class="caption">
				<h3>Dr. Tao Ju</h3>
				<p class="lead">Advisor</p>
			</div>
		</div>
	</li>
</ul>
