<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
<%= form_for @project, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Description, :class => 'control-label' %>
    <div class="controls">     
	<%= f.text_area :description, :class => 'wysihtml5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :state, [ 'active','inactive' ], :prompt => 'Select One', :class => 'select' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "Desired Technologies", :class => 'control-label' %>
    <div class = controls >
      <%= hidden_field_tag "project[technology_ids][]", nil %>
      <% Technology.all.each do |technology| %>
	<%= check_box_tag "project[technology_ids][]", technology.id, @project.technology_ids.include?(technology.id) %>
	<%= technology.name %><br/>
	<% end %>
    </div>
   </div>
   
   <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
   
   <%= f.hidden_field :owner_id, :value => current_user.id %>
 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <!--if project has already been created, send user back to that project's page -->
    <% if @project.name == nil%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  <!--if project is new, send user back to index page -->
    <% else %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @project, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
