<%= form_for @project, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">     
      <%= f.text_area :description, :rows => 10, :class => 'wysihtml5' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :state, [ 'active','inactive' ], :prompt => 'Select One', :class => 'select' %>
    </div>
  </div>

  <!--<div class="control-group">
    <%= f.label "Desired Technologies", :class => 'control-label' %>
    <div class = controls >
      <%= hidden_field_tag "project[technology_ids][]", nil %>
      <% Technology.all.each do |technology| %>
	<%= check_box_tag "project[technology_ids][]", technology.id, @project.technology_ids.include?(technology.id) %>
	<%= technology.name %><br/>
	<% end %>
    </div>
   </div>-->
   
   <!-- tagging functionality -->
   
    <div class="control-group">
      <%= f.label :tag_list, "Tags (separated by commas)", :class => 'control-label' %><br />
      <div class = 'controls' >
	<%= f.text_field :tag_list, :class => 'text_field', :placeholder => 'games, java' %>
      </div>
    </div>

   
   <div class = "control-group">
   <%= f.label "Category", :class => 'control-label' %>
   <div class = controls>
    <%= f.collection_select( :category_id, Category.all, :id, :name) %>
    </div>
   </div>
   
   <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
   
   <%= f.hidden_field :owner_id, :value => current_user.id %>
 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <!--if project has already been created, send user back to that project's page -->
    <% if @project.name == nil%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  <!--if project is new, send user back to index page -->
    <% else %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @project, :class => 'btn' %>
    <% end %>
  </div>
<% end %>
