<%- model_class = Project -%>
<h1>Project Listings</h1>

<% if current_user %>
<%= link_to "Post a Project",
            new_project_path,
            :class => 'btn btn-primary' %>
<% else %>
<p class="lead">Sign in with your WUSTL Key to view details on projects and post projects of your own!</p>
<% end %>

<% @projects.each do |project| %>
<div class="media acm-project-listings">
  <%= image_tag project.image_url.to_s, class: "img-polaroid acm-project-image pull-left" %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= current_user ? link_to(project.name, project) : project.name %>
    </h4>
    <p>
      <em>Posted by <%= project.owner.full_name %> on <%= project.created_at.to_s(:month_day_year_words) %></em>
    </p>
    <strong>Desired Technologies:</strong>
    <!--<% project.technologies.each do |t| %>
      <%= t.name %>, 
    <% end %>-->
    <% techArray = Array.new 
    project.technologies.each do |t|
      str = t.name
      techArray.push str
    end %>
    <%=	techArray.to_sentence(words_connector: ', ') %>
    <br/>
    <!--setting color of active/inactive text -->
    <strong>Project Category: </strong>
    <% if project.category != nil %>
      <%= project.category.name %>
    <% else %>	<!-- shouldn't even happen however just in case... -->
      None	
    <% end %>
    
    <br/>
    
    <% if project.state == 'active' %>
      <strong>State: </strong><span class = 'active'><%= project.state %></span>
    <% else %>
      <strong>State: </strong><span class = 'inactive'><%= project.state %></span>
    <%end%>
  </div>
</div>
<% end %>

