<%- model_class = Project -%>
<h1>Project Listings</h1>
<p class="lead">Sign in with your WUSTL Key to view details on projects and post projects of your own!</p>

<% if current_user %>
<%= link_to "Post a Project",
            new_project_path,
            :class => 'btn btn-primary' %>
<% end %>

<% @projects.each do |project| %>
<div class="media acm-project-listings">
  <a class="pull-left" href="#">
    <%= image_tag "officers/2014/shane.jpg", class: "img-polaroid acm-project-image" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= current_user ? link_to(project.name, project) : project.name %>
      <small>posted by <%= project.owner.full_name %></small>
    </h4>
    <p>
      <%= project.description %>
    </p>
  </div>
</div>
<% end %>

