<%- model_class = Project -%>
<div class="page-header">
  <%= image_tag @project.image_url.to_s, class: "img-polaroid acm-project-image-header pull-left" %>
  <h2><%= @project.name %></h2>
  <p class="lead">For more information, contact <%= link_to @project.owner.full_name, @project.owner %></p>
</div>

<div class="acm-project-description">
<%= markdown(@project.description) %>
</div>

<p>
  <strong>Tags: </strong>
  <% if @project.tag_list.any? %>
  <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  <% else %>
  none
  <% end %>
</p>
<p>
  <strong>Project Category:</strong> <%= @project.category.name %>
</p>

<!--
  
  <% if @project.state == 'active' %>	
    <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
    <dd><span class = 'active'><%= @project.state %><span></dd>
  <% else %>
   <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
   <dd><span class = 'active'><%= @project.state %><span></dd>
  <%end%>
  
  
  <dt><strong><%= model_class.human_attribute_name(:owner_id) %>:</strong></dt>
  <dd><%= link_to  User.find(@project.owner_id).first_name+" "+User.find(@project.owner_id).last_name,User.find(@project.owner_id) %></dd>
  <dt><strong>Desired Technologies<%=  %>:</strong></dt>
  <dd>
    <%= @project.technologies.map{|t| t.name}.to_sentence(words_connector: ', ') %>
    <br/>
  </dd>

  <dt><strong>Interested Users<%=  %>:</strong></dt>
  <dd>
     <% @project.enthusiasts.each do |u| %>
      <li><%= link_to  u.first_name+" "+u.last_name, u %></li>
    <% end %>
  </dd>
  
</dl>

<table>
  <tr>
    <td>
      <strong>State: </strong>
      <%= @project.state %><br/>
      <strong>Owner: </strong>
      <%= User.find(@project.owner_id).first_name %> <br/>
      <strong>Interested Users: </strong>
      <% @project.enthusiasts.each do |u| %>
	<li><%= link_to  u.first_name+" "+u.last_name, u %></li>
      <% end %>
    </td>
    
    <td>
    <strong> Description: </strong><br/>
      <%= markdown(@project.description) %><br/>
      <strong>Desired Technologies:</strong>
       <% @project.technologies.each do |t| %>
      <li><%= t.name %></li>
    <% end %>
    </td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
 
<% if current_user %>
  <% if !@project.enthusiast_ids.include?(current_user.id)%>
    <%= link_to 'Express interest', interest_project_path(@project), :class => 'btn' %>
  <% else %>
  <%= link_to 'Delete interest', interest_project_path(@project), :class => 'btn' %>
  <% end %>
<% end %>

 <% if current_user && current_user.id == @project.owner_id %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              project_path(@project),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>

</div>

-->

<% if current_user  == @project.owner %>
  <div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  </div>
<% end %>