<%- model_class = Project -%>
<div class="page-header">
  <%= image_tag project_image_url(@project), class: "img-polaroid acm-project-image-header pull-left" %>
  <h2><%= @project.name %></h2>
  <p class="lead">For more information, contact <%= link_to @project.owner.full_name, @project.owner %></p>
</div>

<div class="acm-project-description">
<%= markdown(@project.description) %>
</div>

<p>
  <strong>Tags: </strong>
  <% if @project.tag_list.any? %>
  <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
  <% else %>
  none
  <% end %>
</p>
<p>
  <strong>Project Category:</strong> <%= @project.category.name %>
</p>

<% if current_user  == @project.owner %>
  <div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_project_path(@project), :class => 'btn' %>
  </div>
<% end %>